{% extends "user/base.html" %} {% block title %} FAQs | HoppyWay {% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/user/faqs.css" />

<div class="container">
    <h1>Frequently Asked Questions (FAQs)</h1>
    <div class="faq-item">
        <h2>What is HoppyWay?</h2>
        <p>
            HoppyWay is a platform dedicated to improving mental well-being
            through accessible resources, tools, and supportive content.
        </p>
    </div>
    <div class="faq-item">
        <h2>How can I create an account?</h2>
        <p>
            You can create an account by clicking on the "Sign Up" button on the
            homepage and filling out the required information.
        </p>
    </div>
    <div class="faq-item">
        <h2>Is my personal information secure?</h2>
        <p>
            Yes, we prioritize your privacy and use advanced security measures
            to protect your personal information.
        </p>
    </div>
    <div class="faq-item">
        <h2>What resources are available on HoppyWay?</h2>
        <p>
            HoppyWay offers articles, videos, self-assessment tools, and
            interactive activities focused on mental health and well-being.
        </p>
    </div>
    <div class="faq-item">
        <h2>How can I contact support?</h2>
        <p>
            You can reach our support team by clicking on the "Call to Action"
            where there are contact details provided for assistance.
        </p>
    </div>
</div>
{% endblock %}
